In [1]:
import boto3

In [2]:
client = boto3.client('s3')

In [3]:
# Listing buckets

client = boto3.client('s3')
response = client.list_buckets()

In [4]:

print(response['Buckets'])

[{'Name': 'bucket-kayak', 'CreationDate': datetime.datetime(2022, 3, 4, 11, 48, 56, tzinfo=tzutc())}]

In [5]:
# Download files from S3

s3 = boto3.resource('s3')

In [ ]:
list(s3.buckets.all())

In [ ]:
client.list_buckets()

In [6]:
# docs dans dans le bucket
bucket = s3.Bucket('bucket-kayak')

In [7]:
files = list(bucket.objects.all())

In [8]:
# download du csv dans le dossier

for file in files:
    client.download_file('bucket-kayak', file.key, file.key)

In [ ]:
# creation database avec AWS RDS 

# DB instance identifier: database-1
# username : admin
# pass : 12345678
# host:  database-1.cx3o2skb3pmo.eu-west-3.rds.amazonaws.com
# port : 3306

In [ ]:
#!pip install PyMySQL

In [9]:
import pymysql

In [10]:
db = pymysql.connect(host='database-1.cx3o2skb3pmo.eu-west-3.rds.amazonaws.com',
                     user='admin',
                     password='12345678',
                     database = '',
                     charset='utf8mb4',cursorclass=pymysql.cursors.DictCursor)

In [11]:
cursor = db.cursor()

In [12]:
cursor.execute('select version()')

1

In [ ]:
sql = '''DROP table kayak_bucket'''
cursor.execute(sql)

In [22]:
cursor.connection.commit()

In [23]:
sql = '''use kayak_bucket'''
cursor.execute(sql)

0

In [20]:
# 2 - creation de la table

sql = '''
create table Kayak(
name_hotel text,
price text,
adress_hotel text,
appreciation_hotel text,
review_hotel float,
nb_exp_vecu_hotel text,
indic  text,
ville text,
longitude float,
latitude float,
temperature float,
tx_humidite text
)
'''
cursor.execute(sql)

In [ ]:
sql = "insert into `Kayak` (`name_hotel`,`price`,`adress_hotel`,`appreciation_hotel`,`review_hotel`,`nb_exp_vecu_hotel`,`indic`,`ville`,`longitude`,`latitude`,`temperature`,`tx_humidite`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

# Execute the query
cursor.execute(sql,('Elysées Ceramic', '595', '8e arr., Paris', 'Exceptionnel', 9.5, '380 expériences vécues','8e arr.', 'Paris', 2.3488, 48.8534, 5.76, '34'))

# the connection 
cursor.connection.commit()

# Create a new query that selects the entire contents of `Kayak`
sql = "SELECT * FROM `Kayak`"
cursor.execute(sql)

# Fetch all the records and use a for loop to print them one line at a time
result = cursor.fetchall()
for i in result:
    print(i)

In [ ]:

sql = '''SELECT * FROM Kayak'''
cursor.execute(sql)
cursor.fetchall()

In [ ]:
# Creation 2 tables ville_hotel et ville_meto

In [ ]:
sql = '''
create table ville_hotel(
name_hotel text,
ville text
)
'''
cursor.execute(sql)

In [ ]:
sql = '''
create table ville_meteo(
ville text,
temperature float
)
'''
cursor.execute(sql)

In [21]:
sql = '''show tables'''
cursor.execute(sql)
cursor.fetchall()

[{'Tables_in_kayak_bucket': 'Kayak'},
 {'Tables_in_kayak_bucket': 'ville_hotel'},
 {'Tables_in_kayak_bucket': 'ville_meteo'}]

In [ ]:
# Close the connection
cursor.connection.close()

### database SQL avec MySQLWorkbench