https://www.youtube.com/watch?v=RerDL93sBdY

In [1]:
import boto3

In [2]:
client = boto3.client('s3')

In [ ]:
# creation Bucket AWS

#client.create_bucket(Bucket='kayak-bucket')

In [3]:
# Listing buckets

client = boto3.client('s3')
response = client.list_buckets()

In [4]:

print(response['Buckets'])

[{'Name': 'bucket-kayak', 'CreationDate': datetime.datetime(2022, 3, 4, 11, 48, 56, tzinfo=tzutc())}]

# https://s3.console.aws.amazon.com/s3/buckets/bucket-kayak?region=eu-west-3&tab=permissions
# Stratégie de compartiment modifiée avec succès.

{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "Statement1",
            "Effect": "Allow",
            "Principal": "*",
            "Action": [
                "s3:PutObject",
                "s3:PutObjectAcl",
                "s3:GetObject",
                "s3:GetObjectAcl",
                "s3:AbortMultipartUpload"
            ],
            "Resource": [
                "arn:aws:s3:::bucket-kayak/*",
                "arn:aws:s3:::bucket-kayak"
            ]
        }
    ]
}

In [5]:
# uploading files dazns le bucket

def upload_files(file_name, bucket, object_name=None, args=None):
    '''
    file_name : name of file local computer
    bucket : bucket name
    object_name : name of file on S3
    args : custom args
    '''
    
    if object_name is None:
        object_name = file_name
    
    response = client.upload_files(file_name, bucket, object_name, ExtraArgs=args)
    
    print(response)

In [7]:
#upload_files('booking_meteo.csv', 'kayak-bucket')

In [8]:
# Download files from S3

s3 = boto3.resource('s3')

In [9]:
list(s3.buckets.all())

[s3.Bucket(name='bucket-kayak')]

In [10]:
client.list_buckets()

{'ResponseMetadata': {'RequestId': '3QBNBE8178KWBSRH',
  'HostId': 'Z1bFQuDot5VV2ldgl3VmUyxCmJvBe5CE8rsLuBg7f0EnLD7Z3W9EMx5ZsFiCdW3r/MQkNwjAzYo=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Z1bFQuDot5VV2ldgl3VmUyxCmJvBe5CE8rsLuBg7f0EnLD7Z3W9EMx5ZsFiCdW3r/MQkNwjAzYo=',
   'x-amz-request-id': '3QBNBE8178KWBSRH',
   'date': 'Mon, 07 Mar 2022 05:36:45 GMT',
   'content-type': 'application/xml',
   'transfer-encoding': 'chunked',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'Buckets': [{'Name': 'bucket-kayak',
   'CreationDate': datetime.datetime(2022, 3, 4, 11, 48, 56, tzinfo=tzutc())}],
 'Owner': {'ID': '648c3eb0d291e7895ef305f5133ce6b48445d71341ffa214e1cac5aeba6c686e'}}

In [11]:
# docs dans dans le bucket
bucket = s3.Bucket('bucket-kayak')

In [12]:
files = list(bucket.objects.all())

In [ ]:
# download du csv dans le dossier

for file in files:
    client.download_file('bucket-kayak', file.key, file.key)

In [ ]:
# requetes

https://www.youtube.com/watch?v=byKbYwOJwps

In [ ]:
# creation database avec AWS RDS 

# DB instance identifier: database-1
# username : admin
# pass : 12345678
# host:  database-1.cx3o2skb3pmo.eu-west-3.rds.amazonaws.com
# port : 3306

In [ ]:
#!pip install PyMySQL

In [13]:
import pymysql

In [15]:
db = pymysql.connect(host='database-1.cx3o2skb3pmo.eu-west-3.rds.amazonaws.com',
                     user='admin',
                     password='12345678',
                     database = '',
                     charset='utf8mb4',cursorclass=pymysql.cursors.DictCursor)

In [16]:
cursor = db.cursor()

In [18]:
#data = cursor.fetchone()

In [19]:
cursor.execute('select version()')

1

In [ ]:
# création table dans la base de données

'''
sql = '''DROP DATABASE kayak_bucket'''
cursor.execute(sql)
'''

'''
sql = '''DROP table Kayak'''
cursor.execute(sql)
'''

In [77]:

sql = '''DROP table Kayak'''
cursor.execute(sql)

0

In [60]:
# 1 - creation de la database
sql = '''CREATE DATABASE kayak_bucket'''
cursor.execute(sql)

In [61]:
cursor.connection.commit()

In [62]:
sql = '''use kayak_bucket'''
cursor.execute(sql)

0

In [63]:
# 2 - creation de la table

sql = '''
create table Kayak(
name_hotel text,
price text,
adress_hotel text,
appreciation_hotel text,
review_hotel float,
nb_exp_vecu_hotel text,
indic  text,
ville text,
longitude float,
latitude float,
temperature float,
tx_humidite text
)
'''
cursor.execute(sql)

0

In [65]:
sql = "insert into `Kayak` (`name_hotel`,`price`,`adress_hotel`,`appreciation_hotel`,`review_hotel`,`nb_exp_vecu_hotel`,`indic`,`ville`,`longitude`,`latitude`,`temperature`,`tx_humidite`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

# Execute the query
cursor.execute(sql,('Elysées Ceramic', '595', '8e arr., Paris', 'Exceptionnel', 9.5, '380 expériences vécues','8e arr.', 'Paris', 2.3488, 48.8534, 5.76, '34'))

# the connection 
cursor.connection.commit()

# Create a new query that selects the entire contents of `Kayak`
sql = "SELECT * FROM `Kayak`"
cursor.execute(sql)

# Fetch all the records and use a for loop to print them one line at a time
result = cursor.fetchall()
for i in result:
    print(i)

In [68]:

sql = '''SELECT * FROM Kayak'''
cursor.execute(sql)
cursor.fetchall()

[{'name_hotel': 'Elysées Ceramic',
  'price': '595',
  'adress_hotel': '8e arr., Paris',
  'appreciation_hotel': 'Exceptionnel',
  'review_hotel': 9.5,
  'nb_exp_vecu_hotel': '380 expériences vécues',
  'indic': '8e arr.',
  'ville': 'Paris',
  'longitude': 2.3488,
  'latitude': 48.8534,
  'temperature': 5.76,
  'tx_humidite': '34'}]

In [ ]:
# Creation 2 tables ville_hotel et ville_meto

In [72]:
sql = '''
create table ville_hotel(
name_hotel text,
ville text
)
'''
cursor.execute(sql)

0

In [80]:
sql = '''
create table ville_meteo(
ville text,
temperature float
)
'''
cursor.execute(sql)

0

In [81]:
sql = '''show tables'''
cursor.execute(sql)
cursor.fetchall()

[{'Tables_in_kayak_bucket': 'Kayak'},
 {'Tables_in_kayak_bucket': 'ville_hotel'},
 {'Tables_in_kayak_bucket': 'ville_meteo'}]

In [ ]:
# Close the connection
cursor.connection.close()

 0   name_hotel          44 non-null     object 
 1   price               44 non-null     object 
 2   adress_hotel        44 non-null     object 
 3   appreciation_hotel  44 non-null     object 
 4   review_hotel        44 non-null     float64
 5   nb_exp_vecu_hotel   44 non-null     object 
 6   indic               44 non-null     object 
 7   ville               44 non-null     object 
 8   longitude           44 non-null     float64
 9   latitude            44 non-null     float64
 10  temperature         44 non-null     float64
 11  tx_humidite         44 non-null     object

In [ ]:
'name_hotel','price','adress_hotel','appreciation_hotel','review_hotel','nb_exp_vecu_hotel',' indic','ville',
'longitude','latitude','temperature','tx_humidite'